#root {
  /* max-width: 1280px; */
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes float-reverse {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0);
  }
}

.animate-float {
  animation: float 4s ease-in-out infinite;
}

.animate-float-reverse {
  animation: float-reverse 4s ease-in-out infinite;
}

.white-color {
  color: white;
}

/* New classes for background and text color toggling */
.dark-mode-bg {
  background-color: rgba(0, 0, 0, 0.612) !important;
  /* Dark mode background */
}


.light-text {
  color: white !important;
  /* Light text */
}

/* Transition effect */
.dark-mode-bg,
.light-text {
  transition: color 0.3s ease, background-color 0.3s ease;
}

.dark-bg {
  background-color: #0000004f;
}

.black-text {
  color: black;
}

/* Toggle Theme */


/* Chatbot css */
.glfuN {
  background-color: #111827 !important;
}

.hQsUiY,
.ipSaXD {
  background: #312e81 !important;
}

.dPdbIW {
  border-radius: 0px 0px 18px 18px !important;
  width: 400px !important;
  height: 550px !important;
}

.fBGGBn {
  height: calc(550px - 112px) !important;
}